In [1]:
# Dependancies
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

# File load
file1 = os.path.join('..', 'resources', '1-covid-data.csv')
file2 = os.path.join('..', 'resources', '2-vulnerability-index.csv')
file3 = os.path.join('..', 'resources', '3-median-income.csv')
file4 = os.path.join('..', 'resources', '4-population.csv')
file5 = os.path.join('..', 'resources', '5-uninsured-poor-health.csv')

# File read
covid_df = pd.read_csv(file1)
vulnerability_df = pd.read_csv(file2)
med_income_df = pd.read_csv(file3)
population_df = pd.read_csv(file4)
uninsured_df = pd.read_csv(file5)

In [2]:
c_df = covid_df
c_df.count()

date      586302
county    586302
state     586302
fips      580658
cases     586302
deaths    586302
dtype: int64

In [3]:
# Cleaning of covid data
c_df = covid_df
# Filter all rows relevant to last date of dataset - 9/30/2020
c_df = c_df.loc[c_df['date'] == '9/30/2020']

# Check for null values
c_df.isnull().values.any()

True

In [4]:
# Fill missing cells with 0 in fips column
c_df['fips'] = c_df['fips'].fillna(0)

C:\Users\KeiYauSin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
# Drop Nan Values
c_df = c_df.dropna()
c_df

             date      county    state     fips  cases  deaths
583062  9/30/2020     Autauga  Alabama   1001.0   1791      27
583063  9/30/2020     Baldwin  Alabama   1003.0   5640      52
583064  9/30/2020     Barbour  Alabama   1005.0    896       7
583065  9/30/2020        Bibb  Alabama   1007.0    664      11
583066  9/30/2020      Blount  Alabama   1009.0   1629      15
...           ...         ...      ...      ...    ...     ...
586297  9/30/2020  Sweetwater  Wyoming  56037.0    339       2
586298  9/30/2020       Teton  Wyoming  56039.0    577       1
586299  9/30/2020       Uinta  Wyoming  56041.0    357       2
586300  9/30/2020    Washakie  Wyoming  56043.0    115       6
586301  9/30/2020      Weston  Wyoming  56045.0     39       0

[3240 rows x 6 columns]

In [6]:
# Converting fips column to int 
c_df['fips'] = c_df['fips'].astype(int)

In [7]:
# Calculate per capita case rates and death rates
c_df['case rate'] = c_df['cases']/100000
c_df['death rate'] = c_df['deaths']/100000

In [8]:
# Type check
c_df.dtypes

date           object
county         object
state          object
fips            int32
cases           int64
deaths          int64
case rate     float64
death rate    float64
dtype: object

In [9]:
# Final covid DF
c_df

,date,county,state,fips,cases,deaths,case rate,death rate
583062,9/30/2020,Autauga,Alabama,1001,1791,27,0.01791,0.00027
583063,9/30/2020,Baldwin,Alabama,1003,5640,52,0.05640,0.00052
583064,9/30/2020,Barbour,Alabama,1005,896,7,0.00896,0.00007
583065,9/30/2020,Bibb,Alabama,1007,664,11,0.00664,0.00011
583066,9/30/2020,Blount,Alabama,1009,1629,15,0.01629,0.00015
...,...,...,...,...,...,...,...,...
586297,9/30/2020,Sweetwater,Wyoming,56037,339,2,0.00339,0.00002
586298,9/30/2020,Teton,Wyoming,56039,577,1,0.00577,0.00001
586299,9/30/2020,Uinta,Wyoming,56041,357,2,0.00357,0.00002
586300,9/30/2020,Washakie,Wyoming,56043,115,6,0.00115,0.00006
586301,9/30/2020,Weston,Wyoming,56045,39,0,0.00039,0.00000

In [10]:
# Cleaning vulnerability data
v_df = vulnerability_df
v_df = v_df.rename(columns = {'stateAbb': 'abbr',
                              'theme1SocioeconomicStatus': 'socioeconomic status', 
                              'theme2HouseholdCompositionAndDisability':'household composition and disability',
                              'THEME 3: \nMinority Status & Language':'minority status and language',
                              'THEME 4: \nHousing Type & Transportation': 'housing type and transportation',
                              'THEME 5: Epidemiological Factors': 'epidemiological factors',
                              'THEME 6: Healthcare System Factors': 'healthcare system factors' ,
                              'ccviScore': 'ccvi score'})

# Check for null values
v_df.isnull().values.any()

True

In [11]:
# Drop Nulls
v_df.dropna(inplace = True)
v_df.count()

state                                   3141
abbr                                    3141
county                                  3141
fips                                    3141
socioeconomic status                    3141
household composition and disability    3141
minority status and language            3141
housing type and transportation         3141
epidemiological factors                 3141
healthcare system factors               3141
ccvi score                              3141
dtype: int64

In [12]:
# Type check
v_df.dtypes

state                                    object
abbr                                     object
county                                   object
fips                                      int64
socioeconomic status                    float64
household composition and disability    float64
minority status and language            float64
housing type and transportation         float64
epidemiological factors                 float64
healthcare system factors               float64
ccvi score                              float64
dtype: object

In [13]:
# Final vulnerability DF
v_df

,state,abbr,county,fips,socioeconomic status,household composition and disability,minority status and language,housing type and transportation,epidemiological factors,healthcare system factors,ccvi score
0,Texas,TX,Brooks,48047,0.987,0.990,0.993,0.981,0.808,0.864,1.000
1,Texas,TX,Dimmit,48127,0.995,0.999,0.994,0.991,0.428,0.655,0.999
2,Texas,TX,Zavala,48507,0.988,0.997,0.996,0.981,0.380,0.834,0.999
3,Georgia,GA,Clay,13061,0.996,0.962,0.646,0.987,0.876,0.962,0.999
4,Texas,TX,Jim Hogg,48247,0.983,0.999,0.993,0.884,0.452,0.865,0.998
...,...,...,...,...,...,...,...,...,...,...,...
3136,Nebraska,NE,Rock,31149,0.010,0.059,0.228,0.235,0.075,0.067,0.001
3137,Vermont,VT,Grand Isle,50013,0.070,0.024,0.226,0.010,0.161,0.087,0.001
3138,North Dakota,ND,Steele,38091,0.003,0.105,0.096,0.012,0.007,0.330,0.001
3139,Wisconsin,WI,Ozaukee,55089,0.006,0.032,0.289,0.048,0.060,0.038,0.000
3140,Montana,MT,Petroleum,30069,0.016,0.071,0.004,0.005,0.232,0.110,0.000

In [14]:
# Cleaning median income data
income_df = med_income_df

# Splitting county column into state and county
# Create function
def split_state_county(df_name, col, state_pos, county_pos):
    # Create new state column
    df_name['state'] = df_name[col].str.split(',').str[state_pos]
    # Create new county column
    df_name['county'] = df_name[col].str.split(',').str[county_pos]

# Apply function
split_state_county(income_df, 'county', 1, 0)

# Rename columns
income_df = income_df.rename(columns={'median-income-2018': 
                                      'median income 2018'})

# Drop Nulls
income_df.dropna(inplace = True)
income_df.count()

# Drop state column to prevent future merging conflict 
income_df  = income_df.drop(['state'], axis=1 )

# Removing unneeded characters
income_df['county'] = income_df ['county'].str.strip(' County')

In [15]:
# Type Check
income_df.dtypes

fips                   int64
abbr                  object
county                object
median income 2018    object
dtype: object

In [16]:
# Convert income to int value
# Remove commas
income_df['median income 2018'] = income_df['median income 2018'].replace({',':''}, regex=True)
# Convert type
income_df['median income 2018'] = income_df['median income 2018'].astype(int)

# Type check
income_df.dtypes

fips                   int64
abbr                  object
county                object
median income 2018     int32
dtype: object

In [17]:
# Final median income DF
income_df

       fips abbr      county  median income 2018
2      1001   AL     Autauga               59338
3      1003   AL      Baldwi               57588
4      1005   AL     Barbour               34382
5      1007   AL        Bibb               46064
6      1009   AL          Bl               50412
...     ...  ...         ...                 ...
3191  56037   WY  Sweetwater               73315
3192  56039   WY          Te               99087
3193  56041   WY       Uinta               63401
3194  56043   WY    Washakie               55190
3195  56045   WY         Wes               54319

[3140 rows x 4 columns]

In [18]:
# income_df['county'] = income_df['county'].str.split(' ').str[0]

In [19]:
# Drop US and state rows
# income_df.drop(income_df[(income_df['fips'] == 0) | (income_df['fips'] % 10 == 0)].index, inplace=True)

In [20]:
# Cleaning of population data
pop_df = population_df
# Splitting county column into state and county
split_state_county(pop_df, 'county', 1, 0)

# Removing unneeded characters
pop_df['county'] = pop_df['county'].str.strip('.')
pop_df['county'] = pop_df['county'].str.strip(' County')
pop_df['state'] = pop_df['state'].str.strip()

In [21]:
pop_df

          county population    state
0        Autauga     55,869  Alabama
1         Baldwi    223,234  Alabama
2        Barbour     24,686  Alabama
3           Bibb     22,394  Alabama
4             Bl     57,826  Alabama
...          ...        ...      ...
3137  Sweetwater     42,343  Wyoming
3138          Te     23,464  Wyoming
3139       Uinta     20,226  Wyoming
3140    Washakie      7,805  Wyoming
3141         Wes      6,927  Wyoming

[3142 rows x 3 columns]

In [22]:
# Check for null values
pop_df.isnull().values.any()

False

In [23]:
# Type check
pop_df.dtypes

county        object
population    object
state         object
dtype: object

In [24]:
# Change population data type
# Remove commas
pop_df['population'] = pop_df['population'].replace({',':''}, regex=True)
# Convert type
pop_df['population'] = pop_df['population'].astype(int)

# Type check
pop_df.dtypes

county        object
population     int32
state         object
dtype: object

In [25]:
# Final population DF
pop_df

          county  population    state
0        Autauga       55869  Alabama
1         Baldwi      223234  Alabama
2        Barbour       24686  Alabama
3           Bibb       22394  Alabama
4             Bl       57826  Alabama
...          ...         ...      ...
3137  Sweetwater       42343  Wyoming
3138          Te       23464  Wyoming
3139       Uinta       20226  Wyoming
3140    Washakie        7805  Wyoming
3141         Wes        6927  Wyoming

[3142 rows x 3 columns]

In [26]:
# Cleaning uninsured data
unins_df = uninsured_df

# Drop null values
unins_df.dropna(inplace = True)

# Rename columns
unins_df = unins_df.rename(columns = {'UninsuredPerc': 'uninsured percent',
                                     'fair-or-poor-health-perc': 'fair or poor health percent'})

# Convert uninsuredperc column to decimal
# unins_df.iloc[:, 2:4] = (unins_df.iloc[:, 2:4])/100 

# Final uninsured DF
unins_df

        state      county  uninsured percent  fair or poor health percent
0     Alabama     Autauga                8.7                           21
1     Alabama     Baldwin               11.3                           18
2     Alabama     Barbour               12.2                           30
3     Alabama        Bibb               10.2                           19
4     Alabama      Blount               13.4                           22
...       ...         ...                ...                          ...
3136  Wyoming  Sweetwater               14.5                           15
3137  Wyoming       Teton               16.0                           12
3138  Wyoming       Uinta               13.7                           16
3139  Wyoming    Washakie               16.7                           16
3140  Wyoming      Weston               13.4                           14

[3141 rows x 4 columns]

In [44]:
# Merge covid data and vulnerability index dataframes on fips
merge1 = pd.merge(c_df, v_df, on="fips")

# View merge1
merge1.head()

,date,county_x,state_x,fips,cases,deaths,case rate,death rate,state_y,abbr,county_y,socioeconomic status,household composition and disability,minority status and language,housing type and transportation,epidemiological factors,healthcare system factors,ccvi score
0,9/30/2020,Autauga,Alabama,1001,1791,27,0.01791,0.00027,Alabama,AL,Autauga,0.357,0.566,0.592,0.314,0.833,0.976,0.804
1,9/30/2020,Baldwin,Alabama,1003,5640,52,0.05640,0.00052,Alabama,AL,Baldwin,0.240,0.244,0.432,0.335,0.380,0.727,0.376
2,9/30/2020,Barbour,Alabama,1005,896,7,0.00896,0.00007,Alabama,AL,Barbour,0.973,0.839,0.897,0.640,0.778,0.852,0.986
3,9/30/2020,Bibb,Alabama,1007,664,11,0.00664,0.00011,Alabama,AL,Bibb,0.746,0.249,0.443,0.743,0.726,0.972,0.803
4,9/30/2020,Blount,Alabama,1009,1629,15,0.01629,0.00015,Alabama,AL,Blount,0.635,0.432,0.583,0.322,0.630,0.935,0.773

In [45]:
# Drop duplicated columns
merge1 = merge1.drop(['state_y', 'county_y'], axis=1 )

# Rename columns
merge1 = merge1.rename(columns = {'county_x': 'county',
                              'state_x': 'state'})

merge1.head()

,date,county,state,fips,cases,deaths,case rate,death rate,abbr,socioeconomic status,household composition and disability,minority status and language,housing type and transportation,epidemiological factors,healthcare system factors,ccvi score
0,9/30/2020,Autauga,Alabama,1001,1791,27,0.01791,0.00027,AL,0.357,0.566,0.592,0.314,0.833,0.976,0.804
1,9/30/2020,Baldwin,Alabama,1003,5640,52,0.05640,0.00052,AL,0.240,0.244,0.432,0.335,0.380,0.727,0.376
2,9/30/2020,Barbour,Alabama,1005,896,7,0.00896,0.00007,AL,0.973,0.839,0.897,0.640,0.778,0.852,0.986
3,9/30/2020,Bibb,Alabama,1007,664,11,0.00664,0.00011,AL,0.746,0.249,0.443,0.743,0.726,0.972,0.803
4,9/30/2020,Blount,Alabama,1009,1629,15,0.01629,0.00015,AL,0.635,0.432,0.583,0.322,0.630,0.935,0.773

In [46]:
# Merge merge1 and income dataframes on fips
merge2 = pd.merge(merge1, income_df, on="fips")

In [47]:
# Drop duplicated columns
merge2 = merge2.drop(['abbr_y', 'county_y'], axis=1 )

# Rename columns
merge2 = merge2.rename(columns = {'county_x': 'county',
                              'abbr_x': 'abbr'})

merge2.head()

,date,county,state,fips,cases,deaths,case rate,death rate,abbr,socioeconomic status,household composition and disability,minority status and language,housing type and transportation,epidemiological factors,healthcare system factors,ccvi score,median income 2018
0,9/30/2020,Autauga,Alabama,1001,1791,27,0.01791,0.00027,AL,0.357,0.566,0.592,0.314,0.833,0.976,0.804,59338
1,9/30/2020,Baldwin,Alabama,1003,5640,52,0.05640,0.00052,AL,0.240,0.244,0.432,0.335,0.380,0.727,0.376,57588
2,9/30/2020,Barbour,Alabama,1005,896,7,0.00896,0.00007,AL,0.973,0.839,0.897,0.640,0.778,0.852,0.986,34382
3,9/30/2020,Bibb,Alabama,1007,664,11,0.00664,0.00011,AL,0.746,0.249,0.443,0.743,0.726,0.972,0.803,46064
4,9/30/2020,Blount,Alabama,1009,1629,15,0.01629,0.00015,AL,0.635,0.432,0.583,0.322,0.630,0.935,0.773,50412

In [48]:
# Merge merge2 and population dataframes
merge3 = pd.merge(merge2, pop_df, how='left', on=['state', 'county'])

merge3.head()

,date,county,state,fips,cases,deaths,case rate,death rate,abbr,socioeconomic status,household composition and disability,minority status and language,housing type and transportation,epidemiological factors,healthcare system factors,ccvi score,median income 2018,population
0,9/30/2020,Autauga,Alabama,1001,1791,27,0.01791,0.00027,AL,0.357,0.566,0.592,0.314,0.833,0.976,0.804,59338,55869.0
1,9/30/2020,Baldwin,Alabama,1003,5640,52,0.05640,0.00052,AL,0.240,0.244,0.432,0.335,0.380,0.727,0.376,57588,NaN
2,9/30/2020,Barbour,Alabama,1005,896,7,0.00896,0.00007,AL,0.973,0.839,0.897,0.640,0.778,0.852,0.986,34382,24686.0
3,9/30/2020,Bibb,Alabama,1007,664,11,0.00664,0.00011,AL,0.746,0.249,0.443,0.743,0.726,0.972,0.803,46064,22394.0
4,9/30/2020,Blount,Alabama,1009,1629,15,0.01629,0.00015,AL,0.635,0.432,0.583,0.322,0.630,0.935,0.773,50412,NaN

In [49]:
# Final merge with uninsured dataframe
final_merge = pd.merge(merge3, unins_df, how='left', on=['state', 'county'])

final_merge

,date,county,state,fips,cases,deaths,case rate,death rate,abbr,socioeconomic status,household composition and disability,minority status and language,housing type and transportation,epidemiological factors,healthcare system factors,ccvi score,median income 2018,population,uninsured percent,fair or poor health percent
0,9/30/2020,Autauga,Alabama,1001,1791,27,0.01791,0.00027,AL,0.357,0.566,0.592,0.314,0.833,0.976,0.804,59338,55869.0,8.7,21.0
1,9/30/2020,Baldwin,Alabama,1003,5640,52,0.05640,0.00052,AL,0.240,0.244,0.432,0.335,0.380,0.727,0.376,57588,NaN,11.3,18.0
2,9/30/2020,Barbour,Alabama,1005,896,7,0.00896,0.00007,AL,0.973,0.839,0.897,0.640,0.778,0.852,0.986,34382,24686.0,12.2,30.0
3,9/30/2020,Bibb,Alabama,1007,664,11,0.00664,0.00011,AL,0.746,0.249,0.443,0.743,0.726,0.972,0.803,46064,22394.0,10.2,19.0
4,9/30/2020,Blount,Alabama,1009,1629,15,0.01629,0.00015,AL,0.635,0.432,0.583,0.322,0.630,0.935,0.773,50412,NaN,13.4,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,9/30/2020,Sweetwater,Wyoming,56037,339,2,0.00339,0.00002,WY,0.270,0.242,0.661,0.452,0.023,0.025,0.058,73315,42343.0,14.5,15.0
3123,9/30/2020,Teton,Wyoming,56039,577,1,0.00577,0.00001,WY,0.004,0.005,0.832,0.891,0.013,0.026,0.008,99087,NaN,16.0,12.0
3124,9/30/2020,Uinta,Wyoming,56041,357,2,0.00357,0.00002,WY,0.392,0.601,0.438,0.890,0.019,0.027,0.121,63401,20226.0,13.7,16.0
3125,9/30/2020,Washakie,Wyoming,56043,115,6,0.00115,0.00006,WY,0.495,0.756,0.426,0.746,0.214,0.092,0.217,55190,7805.0,16.7,16.0
3126,9/30/2020,Weston,Wyoming,56045,39,0,0.00039,0.00000,WY,0.326,0.418,0.436,0.922,0.130,0.096,0.137,54319,NaN,13.4,14.0

In [52]:
# Rearrange columns for enhanced logic
clean_df = final_merge[['date', 'state', 'abbr', 'county', 'fips', 'population',
                       'ccvi score', 'cases', 'case rate', 'deaths', 'death rate',
                       'median income 2018', 'uninsured percent', 'fair or poor health percent',
                       'socioeconomic status', 'household composition and disability',
                       'minority status and language', 'housing type and transportation',
                       'epidemiological factors', 'healthcare system factors']]

# Final cleaned dataframe
clean_df

,date,state,abbr,county,fips,population,ccvi score,cases,case rate,deaths,death rate,median income 2018,uninsured percent,fair or poor health percent,socioeconomic status,household composition and disability,minority status and language,housing type and transportation,epidemiological factors,healthcare system factors
0,9/30/2020,Alabama,AL,Autauga,1001,55869.0,0.804,1791,0.01791,27,0.00027,59338,8.7,21.0,0.357,0.566,0.592,0.314,0.833,0.976
1,9/30/2020,Alabama,AL,Baldwin,1003,NaN,0.376,5640,0.05640,52,0.00052,57588,11.3,18.0,0.240,0.244,0.432,0.335,0.380,0.727
2,9/30/2020,Alabama,AL,Barbour,1005,24686.0,0.986,896,0.00896,7,0.00007,34382,12.2,30.0,0.973,0.839,0.897,0.640,0.778,0.852
3,9/30/2020,Alabama,AL,Bibb,1007,22394.0,0.803,664,0.00664,11,0.00011,46064,10.2,19.0,0.746,0.249,0.443,0.743,0.726,0.972
4,9/30/2020,Alabama,AL,Blount,1009,NaN,0.773,1629,0.01629,15,0.00015,50412,13.4,22.0,0.635,0.432,0.583,0.322,0.630,0.935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,9/30/2020,Wyoming,WY,Sweetwater,56037,42343.0,0.058,339,0.00339,2,0.00002,73315,14.5,15.0,0.270,0.242,0.661,0.452,0.023,0.025
3123,9/30/2020,Wyoming,WY,Teton,56039,NaN,0.008,577,0.00577,1,0.00001,99087,16.0,12.0,0.004,0.005,0.832,0.891,0.013,0.026
3124,9/30/2020,Wyoming,WY,Uinta,56041,20226.0,0.121,357,0.00357,2,0.00002,63401,13.7,16.0,0.392,0.601,0.438,0.890,0.019,0.027
3125,9/30/2020,Wyoming,WY,Washakie,56043,7805.0,0.217,115,0.00115,6,0.00006,55190,16.7,16.0,0.495,0.756,0.426,0.746,0.214,0.092
3126,9/30/2020,Wyoming,WY,Weston,56045,NaN,0.137,39,0.00039,0,0.00000,54319,13.4,14.0,0.326,0.418,0.436,0.922,0.130,0.096

In [54]:
# Final check of datatypes
clean_df.dtypes

date                                     object
state                                    object
abbr                                     object
county                                   object
fips                                      int32
population                              float64
ccvi score                              float64
cases                                     int64
case rate                               float64
deaths                                    int64
death rate                              float64
median income 2018                        int32
uninsured percent                       float64
fair or poor health percent             float64
socioeconomic status                    float64
household composition and disability    float64
minority status and language            float64
housing type and transportation         float64
epidemiological factors                 float64
healthcare system factors               float64
dtype: object

In [57]:
# Final dataframe for Florida
fl_df = clean_df.loc[final_merge['state'] == 'Florida']

fl_df.dtypes

date                                     object
state                                    object
abbr                                     object
county                                   object
fips                                      int32
population                              float64
ccvi score                              float64
cases                                     int64
case rate                               float64
deaths                                    int64
death rate                              float64
median income 2018                        int32
uninsured percent                       float64
fair or poor health percent             float64
socioeconomic status                    float64
household composition and disability    float64
minority status and language            float64
housing type and transportation         float64
epidemiological factors                 float64
healthcare system factors               float64
dtype: object

In [56]:
# Export by clean_df and fl_df to csv
clean_df.to_csv('../resources/6-all-data-test.csv', index=False)
fl_df.to_csv('../resources/7-fl-data-test.csv', index=False)