In [39]:
# Dependancies
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

# File load
file1 = os.path.join('..', 'resources', '1-covid-data.csv')
file2 = os.path.join('..', 'resources', '2-vulnerability-index.csv')
file3 = os.path.join('..', 'resources', '3-median-income.csv')
file4 = os.path.join('..', 'resources', '4-population.csv')
file5 = os.path.join('..', 'resources', '5-uninsured-poor-health.csv')

# File read
covid_df = pd.read_csv(file1)
vulnerability_df = pd.read_csv(file2)
med_income_df = pd.read_csv(file3)
population_df = pd.read_csv(file4)
uninsured_df = pd.read_csv(file5)

In [55]:
# Cleaning of population data
pop_df = population_df
# Splitting county column into state and county
pop_df['state'] = pop_df['county'].str.split(',').str[1]
pop_df['county_'] = pop_df['county'].str.split(',').str[0]
pop_df = pop_df.drop(['county'], axis=1)
pop_df = pop_df.rename(columns = {'county_':'county'})

# Removing unneeded characters
pop_df['county'] = pop_df['county'].str.strip('.')
pop_df['county'] = pop_df['county'].str.strip('County')

pop_df

     population     state       county
0        55,869   Alabama     Autauga
1       223,234   Alabama     Baldwin
2        24,686   Alabama     Barbour
3        22,394   Alabama        Bibb
4        57,826   Alabama      Blount
...         ...       ...          ...
3137     42,343   Wyoming  Sweetwater
3138     23,464   Wyoming       Teton
3139     20,226   Wyoming       Uinta
3140      7,805   Wyoming    Washakie
3141      6,927   Wyoming      Weston

[3142 rows x 3 columns]

In [ ]:
# Cleaning vulnerability data
v_df = vulnerability_df